body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}
h1 {
  color: #333;
}
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
.gif-background {
    width: 52px; /* Set the desired width */
    height: 31px; /* Set the desired height */
    background-image: url('https://img.pokemondb.net/sprites/black-white/anim/normal/slakoth.gif');
    background-size: cover; /* Adjust to fit or scale the GIF */
    background-repeat: no-repeat; /* Prevent tiling the image */
    background-position: center; /* Center the GIF in the element */
}

